@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-fonte-top-foot: #a4b8ab ;
    --cor-fundo: linear-gradient(45deg, transparent, transparent, #05080c96, transparent, transparent);
    --cor-backfont: #070d12;
    --cor-fonte-lateral:#b097c2;
    --fonte-top-foot:'Barlow Condensed', sans-serif;
}
body {
    overflow: hidden;
    min-height: 100vh;
    background: url('background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------------------- PAGE CONFIG ---------------------------------------*/
/* --------------------------------------- HEADER ---------------------------------------*/

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: var(--cor-fundo);
    padding: 20px 40px;
    display: flex;
    justify-content: right;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    gap: 15px;
}
header ul li{
    list-style: none;
}
header ul li .menu{
    position: relative;
    text-decoration: none;
    font-family: var(--fonte-top-foot);
    font-weight: 500;
    color: #f7f7f7;
    text-shadow: 0 0 8px #cbeaad;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
header ul li .menu::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #bcd5a8;
    box-shadow: 0 0 10px #cae2a8;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
header ul li .menu:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
/* --------------------------------------- HEADER ---------------------------------------*/
/* --------------------------------------- MAIN ---------------------------------------*/

main{
    /* background-color: aqua; */
    width: 100%;
    min-height: calc(100% - 180px);
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    
}
/* --------------------------------------- MAIN - MEIO ---------------------------------------*/
main .meio{
    /* background-color: aliceblue; */
    width: 100%;
    min-height: calc(100% - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}
main .meio p:nth-child(1)::before{
    content: '';
    height: 1px;
    background: #394e60a4;
    box-shadow: 0 0 15px #cbeaad;
    position: absolute;
    transition: .5s;
}
main .meio .home:nth-child(1){
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    font-weight: 500;
    color: #42596ad2;
    text-shadow: 0 0 20px #cbeaad;
    transition: .5s;
}
main .meio p:nth-child(1){
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    font-weight: 500;
    color: #42596ad2;
    text-shadow: 0 0 20px #cbeaad;
    transition: .5s;
}
main .meio p:nth-child(2){
    font-size: 25px;
    position: absolute;
    color: #33434e;
    text-shadow: 0 0 15px #d2e2d2;
    transition: .5s;
}

main .meio .area-dev{
    position: absolute;
    left: 10%;
    /* background: #9ebca7; */
    height: 70%;
    width: 37%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .meio .outros{
    position: absolute;
    right: 10%;
    /* background: #9ebca7; */
    height: 70%;
    width: 37%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .meio .area-dev ul li p,
main .meio .outros ul li p
{
    color: #2b3942;
    text-shadow: 0 0 10px #cbeaad;
}
main .area-dev h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    color: #84a8c4d2;
    text-shadow: 0 0 20px #cceaadbd;
    transition: .5s;

}
main .outros h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    color: #84a8c4d2;
    text-shadow: 0 0 20px #cceaadb4;
    transition: .5s;

}
/* --------------------------------------- MAIN - MEIO ---------------------------------------*/
/* --------------------------------------- MAIN - DIREITA ---------------------------------------*/
main .direita{
    background: var(--cor-fundo);
    min-height: calc(100vh - 145px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 1000;
}
main .direita .menu{
    position: relative;
    text-decoration: none;
    font-family: var(--fonte-top-foot);
    font-weight: 500;
    color: var(--cor-fonte-lateral);
    text-shadow: 0 0 5px #cceaad9a;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transform: rotateZ(-90deg);
}
main .direita .menu::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #bcd5a8c9;
    box-shadow: 0 0 10px #cae2a8;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
main .direita .menu:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
/* --------------------------------------- MAIN - DIREITA---------------------------------------*/
/* --------------------------------------- MAIN - ESQUERDA ---------------------------------------*/
main .esquerda{
    background-color: rgb(29, 95, 153);
    background: var(--cor-fundo);
    min-height: calc(100vh - 145px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 1000;
    
}
main .esquerda .menu{
    position: relative;
    text-decoration: none;
    font-family: var(--fonte-top-foot);
    font-weight: 500;
    color: var(--cor-fonte-lateral);
    text-shadow: 0 0 5px #cceaad9a;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transform: rotateZ(-90deg);
}
main .esquerda .menu::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #bcd5a8;
    box-shadow: 0 0 10px #cae2a8;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
main .esquerda .menu:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
/* --------------------------------------- MAIN - ESQUERDA ---------------------------------------*/
/* --------------------------------------- MAIN ---------------------------------------*/
/* --------------------------------------- FOOTER ---------------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    font-family: var(--fonte-top-foot);
    font-weight: 500;
    text-shadow: 0 0 5px var(--cor-backfont);
    color: var(--cor-fonte-top-foot);
    font-size: 12px;
}

footer p:nth-child(2):before {
    content: '';
    width: 142px;
    height: 1px;
    background: #bcd5a88f;
    box-shadow: 0 0 5px #9ebca7;
    position: absolute;
    margin-left: -18px;
    margin-top: 1px;
}

/* --------------------------------------- FOOTER ---------------------------------------*/