*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #100f13;
}
button{
    cursor: pointer;
    position: relative;
    padding: 22px 46px;
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;
    background: rgba(255,255,255, 0.1);
    border: 3px solid rgb(255,255,255, .2);
    border-radius: 25px;
    transition: .4s;
}
button:hover{
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
        90deg,
        blue,
        red,
        rgb(24, 23, 23),
        blue,
        red,
        blue
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4 , 24);
    animation: glow 12s linear infinite;
}
@keyframes glow {

    from{
        background-position: 0%;
    }
    to{
        background-position: 400%;
    }
    

}
button::before{
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;
    filter: blur(36px);
    transition: .4s ease-out;
    opacity: 0;
}
button:hover::before{
    opacity: 1;
    z-index: -1;
}