main .meio {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
main .meio .card {
  width: 50rem;
  max-width: 50rem;
}

main .meio .card a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  margin-bottom: 20px;
}
main .meio .card .card-body .accordion .accordion-item .accordion-body img {
  width: 100%;
  height: 100%;
}
.modal-dialog {
  width: 100%;
}
.modal-content {
  min-width: 100%;
  height: 600px;
}
.botao__modal {
  position: absolute;
  margin: 10px -80px;
}
