body,
.container__principal {
  min-height: 100vh;
}

main .meio {
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
}
main .meio .card {
  width: 35%;
  max-width: 35%;
  min-height: 190px;
  max-height: 90%;
}
main .meio .card .card-header {
  font-size: 20px;
}
tbody tr {
  font-size: 15px;
}
@media screen and (max-width: 1100px) {
  main .meio {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
  }
  main .meio .card {
    width: 48%;
    max-width: 48%;
  }
}
@media screen and (max-width: 760px) {
  main .meio {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  main .meio .card {
    width: 80%;
    max-width: 80%;
  }
  tbody tr {
    font-size: 12px;
  }
}
